/****** Tag Selector ******/
/****** Class Selector ******/

.red {
    height: 100px;
    width: 100px;
    background-color: red;
}

.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
}

 .yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;   

}

/****** ID Selector ******/